:root{
    /*BLUES*/
    --color-blue-light: #053160;
    --color-blue-dark: #031E3C;
    
    /*YELLOWS*/
    --color-yellow: #FFC80B;    

    --button-height: 92px;

    --slider-position: 10%;
}

*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

html, body{
    max-width:100%;
    min-height: 100vh;
}

html{
    background-color: var(--color-blue-dark);

}

body{
    display: flex;
    flex-direction: column;
    background-color: var(--color-blue-light);
    max-width: 800px;
    margin: 0 auto;
    justify-content: space-between;
}

button{
    border: none;
    background-color: transparent;
    color: var(--color-yellow);
    cursor: pointer;
    font-size: clamp(2.5rem, 3vw, 3.5rem);
    font-weight: bold;
    flex: 1;
}

button:active{
    transform: scale(0.9);
}

#info{
    display: flex;
    height: var(--button-height);
}


#menu{
    display: flex;
    height: var(--button-height);
    justify-self: end;  
}

#controller{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex: 1;
}

#volume{
    display: flex;
    flex: 1;
}

input[type="range"]{
    position: absolute;
    inset: 0;
    opacity: 0;
}

.range{
    flex: 1;
    position: relative;
    display: flex;
}

.range-bar{
    flex : 1;
    width: 100%;
    transform-origin: left;
    transform: scaleX(0.5);
    background-color: var(--color-yellow);
    pointer-events: none;
}

.toggle{

}

.toggle>*{
    display: none;
}
/* #controller > button{
    width: 30px;
    height: 60px;
}

#controller > button:nth-child(2){
    width: 50px;
} */

